Package: com.enokseth.xyouplus
Name: xYouPlus
Architecture: iphoneos-arm
Description: Modified version of uYouPlus 
Maintainer: enokseth
Author: enokseth
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.enokseth.xyou
Conflicts: com.level3tjg.ytminiplayerenabler, com.level3tjg.ytnohovercards, com.ps.noytpremium, com.ps.ytnopaidpromo, com.ps.ytreexplore, com.galacticdev.bigytminiplayer, com.lilacvibes.ytstockvolumehud, net.sarahh12099.youtubereborn, com.twickd.sarahh12099.youtube-reborn, h.ryan.youtubereborn, weeb.lillie.enhancerforyoutubepremium, com.enokseth.xyoucompat, com.ichitaso.uyouplus
Recommends: com.ps.youmute, com.ps.youpip, com.ps.youquality, com.ps.ytabconfig, com.ps.ytvideooverlay, libflex, weeb.lillie.youtubedislikesreturn
